body {
  margin: 0;
  overflow: hidden;
  transition: transform 0.4s ease;
}

canvas {
  transition: transform 0.4s ease;
}


#infoPanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  background: #223344d9;
  color: #aee7ff;
  box-shadow: 0 0 20px rgba(0, 200, 255, 0.2);
  border-right: 2px solid #00b4ff66;
  transform: translateX(-100%);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  display: flex;
  flex-direction: column;
  padding: 120px 40px 25px;
  z-index: 10;
  font-family: 'Orbitron', sans-serif; 
  background-image: 
    linear-gradient(rgba(0, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px; 
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}


#infoPanel.visible {
  transform: translateX(0);
  box-shadow: 0 0 25px rgba(0, 200, 255, 0.5);
}


#infoPanel h2 {
  margin-top: 10px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgba(0, 120, 255, 0.15);
  padding: 8px 12px;
  border: 1px solid rgba(0, 200, 255, 0.4);
  border-radius: 6px;
  text-align: center;
  color: #c8f3ff;
}


#infoPanel p {
  line-height: 2;
  font-size: 1rem;
  margin: 12px 0;
  color: #aee7ff;
  border-left: 2px solid rgba(0, 180, 255, 0.3);
  padding-left: 10px;
  text-align: left;
}


#closePanelBtn {
  align-self: flex-end;
  background: rgba(0, 150, 255, 0.1);
  border: 1px solid rgba(0, 200, 255, 0.5);
  color: #aee7ff;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s, transform 0.2s;
}

#closePanelBtn:hover {
  background: rgba(0, 200, 255, 0.25);
  transform: scale(1.1);
}

.panelOverlay {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0.25;
  pointer-events: none;
  user-select: none;
  animation: flicker 2.5s infinite ease-in-out;
  z-index: 1;
}

.panel-top {
  top: 0;
  height: 120px;
}

.panel-bottom {
  bottom: 0;
  height: 120px;
  animation-delay: 1.2s;
}

@keyframes flicker {
  0%, 100% {
    opacity: 0.2;
    filter: brightness(0.8);
  }
  50% {
    opacity: 0.5;
    filter: brightness(1.4);
  }
}

#infoContent {
  position: relative;
  z-index: 5;
}

#detailsBtn {
  position: fixed;
  z-index: 9999;
  pointer-events: auto;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  font-size: 30px;
  font-weight: bold;
  background-color: #0b3050;
  color: rgb(195, 197, 241);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

#detailsBtn:hover {
  background-color: #1565c0;
}
